/* --------Cards------- */

.card{
    border-radius: 15px;
    /* padding: 40px; */
    transition: 0.5s ease;
}
.card:hover{
    background-color: grey;
    color: whitesmoke;
}
.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.card-container{
    margin-top: 40px;
}
.card-container .title{
    padding: 20px;
    margin-bottom: 3rem;
}
.card-container .title .title-head{
    font-size: 2.5rem;
    text-align: center;
}
.card-container .title .title-text{
    font-size: 1.4rem;
    text-align: center;
}

.link  {
    text-decoration: none;
}

/* --------Cards------- */
