@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Quicksand', Arial, Helvetica, sans-serif;
}
/* ===================Header=================== */

.site-header{
  background-color: #f9faff;  
}

/* ===================Navbar=================== */


.navbar-brand{
    font-weight: 500;
}

.nav-item{
    margin-right: 2rem;
    
}

.nav-link{
    font-weight: 500;
}

/* ===================Navbar=================== */

/* ===================Banner=================== */
.banner .title-text h2{
    padding-top: 35%;
    font-size: 3.1rem;
    font-weight: 400;
}
.banner .title-text p{
    padding:15px 0;
}

.banner .title-text .buttons a{
    border-radius: 0;
}

.banner img{
    padding: 5rem 0;
    width: 90rem;
}
/* ===================Banner=================== */


/* --------Cards------- */

.card{
    border-radius: 15px;
    /* padding: 40px; */
    transition: 0.5s ease;
}
.card:hover{
    background-color: grey;
    color: whitesmoke;
}
.card img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 40px;
}
.card-container{
    margin-top: 40px;
}
.card-container .title{
    padding: 20px;
    margin-bottom: 3rem;
}
.card-container .title .title-head{
    font-size: 2.5rem;
    text-align: center;
}
.card-container .title .title-text{
    font-size: 1.4rem;
    text-align: center;
}

.link  {
    text-decoration: none;
}

/* --------Cards------- */
